apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy-dev

resources:
  - ../../base

patches:
  - path: database-config.yaml
    target:
      kind: Deployment
      name: homunculy

labels:
  - pairs:
      environment: dev
    includeSelectors: true

images:
  - name: acrhomunculyprod.azurecr.io/homunculy
    newName: acrhomunculydev.azurecr.io/homunculy
    newTag: dev
