apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy

resources:
  - ../../base

commonLabels:
  environment: prod

patches:
  - path: secret-provider-patch.yaml
  - path: ingress-hosts-patch.yaml
