apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-keyvault-homunculy
spec:
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    clientID: "4620d55b-5ef4-41ef-8410-3a15d0e7008b"
    keyvaultName: "kv-homunculy-prod"
    tenantId: "d52cd61e-40d3-463c-a422-f4aa5017abd5"
