apiVersion: v1
kind: Service
metadata:
  name: management-service
  labels:
    app.kubernetes.io/name: management-service
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: management-service
