apiVersion: v1
kind: Service
metadata:
  name: homunculy
  labels:
    app.kubernetes.io/name: homunculy
    app.kubernetes.io/component: ai-agent
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: homunculy
