@inject NavigationManager Nav
@using ChatClient.Presentation.Web.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@Nav.BaseUri" />
    <title>Homunculy Chat</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="_content/ChatClient.Presentation.Shared/css/chat.css" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="js/audio.bundle.js"></script>
    <script src="js/livekit.bundle.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
