apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy-dev

resources:
  - ../../base

commonLabels:
  environment: dev

images:
  - name: acrhomunculyprod.azurecr.io/rag-service
    newName: acrhomunculydev.azurecr.io/rag-service
    newTag: dev
