apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy

resources:
  - ../../base

labels:
  - pairs:
      environment: prod
    includeSelectors: true

images:
  - name: acrhomunculyprod.azurecr.io/homunculy
    newTag: a04e5c68bcadcc939d85935e313860389b19130c
