@inherits LayoutComponentBase
@using ChatClient.Presentation.Web.Theme

<MudThemeProvider Theme="_theme" IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="homunculy-bg">
    @Body
</main>

@code {
    private readonly MudTheme _theme = HomunculyTheme.Create();
}
