apiVersion: v1
kind: Service
metadata:
  name: chat-client
  labels:
    app.kubernetes.io/name: chat-client
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: chat-client
