apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy-dev

resources:
  - ../../base

labels:
  - pairs:
      environment: dev

patches:
  - path: namespace-name-patch.yaml
  - path: secret-provider-patch.yaml
