apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy

resources:
  - ../../base

labels:
  - pairs:
      environment: prod
    includeSelectors: true

images:
  - name: acrhomunculyprod.azurecr.io/chat-client
    newTag: deb672f5fcdb01f42b21203cdaf20ff467ee3d43
