apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy

resources:
  - ../../base

commonLabels:
  environment: prod

images:
  - name: acrhomunculyprod.azurecr.io/chat-client
    newTag: a04e5c68bcadcc939d85935e313860389b19130c
