apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homunculy

resources:
  - ../../base

labels:
  - pairs:
      environment: prod
    includeSelectors: true

images:
  - name: acrhomunculyprod.azurecr.io/chat-client
    newTag: 80b06e3e89aa194559b8b8740e7cd8a44803706e
